@import url('../../docente/gestion-notas/gestion-notas.component.css');

.anotation-textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid transparent;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  resize: none;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.anotation-textarea:focus {
  border-color: #f1c40f;
}

.anotation-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.txt-contenido {
  margin: 0;
  font-size: 0.95rem;
  color: #002d40;
  font-weight: 500;
  line-height: 1.3;
}

.txt-fecha {
  color: #666;
  margin-top: 5px;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.no-data {
  text-align: center;
  color: #999;
  padding-top: 40px;
  font-style: italic;
}

.grades-scroll-container {
  flex: 1;
  overflow-y: auto;
  max-height: 350px;
  padding-right: 8px;
}

.grades-scroll-container::-webkit-scrollbar { width: 6px; }
.grades-scroll-container::-webkit-scrollbar-thumb { background: #002d40; border-radius: 10px; }


.calendar-center-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  margin-bottom: 20px;
}

.label-white {
  color: white;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 0.9rem;
}

.centered-date {
  width: 80% !important; 
  text-align: center;
  cursor: pointer;
}

.badge-asig {
  background-color: #002d40;
  color: #f1c40f;
  font-size: 0.7rem;
  padding: 2px 8px;
  border-radius: 5px;
  width: fit-content;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.date-input-panel {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}